aquama-hydro-client @ git+ssh://git@git.aquama.ch:9122/sgendre/aquama_hydro_client_py.git@0.3.2 ; python_version >= "3.7" and python_version < "4.0"
asgiref==3.4.1; python_version >= "3.6"
certifi==2021.5.30; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
charset-normalizer==2.0.4; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
django-filter==2.4.0; python_version >= "3.5"
django==3.2; python_version >= "3.6"
djangorestframework==3.12.4; python_version >= "3.5"
idna==3.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
importlib-metadata==4.6.4; python_version < "3.8" and python_version >= "3.6"
markdown==3.3.4; python_version >= "3.6"
pillow==8.3.1; python_version >= "3.6"
pytz==2021.1; python_version >= "3.6"
requests==2.26.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
sqlparse==0.4.1; python_version >= "3.6"
typing-extensions==3.10.0.0; python_version < "3.8" and python_version >= "3.6"
urllib3==1.26.6; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
zipp==3.5.0; python_version < "3.8" and python_version >= "3.6"
